In [1]:
import matplotlib as plt
from IPython.display import Image

In [2]:
import pandas as pd

In [56]:
co2 = pd.read_csv('co2_mm_mlo-Copy1.csv', usecols = [0,1,3,4], 
                  comment = '#', delim_whitespace = True, header = None)

In [69]:
co2.loc[(co2[3] == -99.99) | (co2[4]== -99.99)]

        0   1      3       4
3    1958   6 -99.99  317.10
7    1958  10 -99.99  312.66
71   1964   2 -99.99  320.07
72   1964   3 -99.99  320.73
73   1964   4 -99.99  321.77
213  1975  12 -99.99  330.58
313  1984   4 -99.99  346.84